# Ignore irrelevant root entries
/*.*

/crash-reports
/data
/downloads
/logs
/saves
/screenshots

/journeymap
/modflared
/polymer
/schematics
/ModTranslations
/Distant_Horizons_server_data

# Rendering (mostly cache)
/config/iris.properties
/config/indium-renderer.properties
/config/fabric/indigo-renderer.properties
/config/lithium.properties
/config/sodium-options.json

# Replacements
/mods/Zoomify-*.jar
/mods/Zoomify-*.jar.disabled
/mods/zoomglass-*.jar

/config/journeymap-server.json
/mods/journeymap*.jar
/mods/journeymap*.jar.disabled
# ->
/XaeroWorldMap
/config/xaero*
/mods/XaerosWorldMap*.jar

# Specific miscellaneous rules
/config/litematica
/config/sound_physics_remastered/occlusion.properties
/config/sound_physics_remastered/reflectivity.properties
/config/sound_physics_remastered/allowed_sounds.properties
/config/kiwi-common.yaml
/config/plasmovoice
/config/panorama_screens/settings.json
